<navbar></navbar>
<app-sidebar></app-sidebar>

<div class="container-base">
    <div class="content-page">

        <div class="card-header">
            <h1 class="card-title">
                Cadastro de Categoria
            </h1>
        </div>

        <form class="form-page" [formGroup]="categoryForm" (submit)="send()">

            <div class="row">
                <div class="group-row">
                    <label>Nome</label>
                    <input type="text" name="name" id="name" placeholder="Nome" formControlName="name" required="">
                    <label class="error-input"
                    *ngIf="categoryForm.get('name')?.errors?.['required'] && categoryForm.get('name')?.touched">
                        Campo Obrigatório!
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="group-row">
                    <label>Sistemas</label>
                    <ng-select class="select-default" 
                    [(ngModel)]="financialSystemSelected" [items]="financialSystemList" bindLabel="name" [multiple]="false"[clearable]="false" [searchable]="false"
                    >
                    </ng-select>
                </div>
            </div>

            <div class="row">
                <div class="group-row">
                    <input type="submit" value="Salvar" class="btn-primary" />
                </div>
            </div>

        </form>


    </div>
</div>
